.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 1rem;
    width: 100%;
    line-height: 1rem;
    background: #00a2ed;
    color: #ffffff;
    display: flex;
    z-index: 10;
    overflow: hidden;
}
